html {
  background-color: #99b0c3;
}

.modelsTitle {
  color: white;
  font-family: "DM Serif Display", serif;
  text-align: center;
}

.headerImg {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.headerImg img {
  max-width: 200px;
  margin-bottom: 2px;
}

.vids {
  position: relative;
  max-width: 1000px;
  max-width: 100%;
}
.vids video {
  max-width: 100%;
}



